X402_NETWORK=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com
PHOEBE_SOL_KEY=
X402_FACILITATOR_URL=https://x402.org/facilitator
PHOEBE_TREASURY_ADDRESS=
PHANTOM_TREASURY_WALLET=CGzf9GUK8DYd2kze7CKhEU2Hmr6kTifueYaWJ1SWekVc
PORT=8402